@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 117 59% 98%;
    --foreground: 117 73% 1%;
    --muted: 87 28% 86%;
    --muted-foreground: 87 14% 27%;
    --popover: 117 59% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 117 59% 97%;
    --card-foreground: 0 0% 0%;
    --border: 117 2% 92%;
    --input: 117 2% 92%;
    --primary: 117 6% 32%;
    --primary-foreground: 117 6% 92%;
    --secondary: 87 6% 32%;
    --secondary-foreground: 87 6% 92%;
    --accent: 147 6% 32%;
    --accent-foreground: 147 6% 92%;
    --destructive: 12 98% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 117 6% 32%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 117 56% 0%;
    --foreground: 117 29% 99%;
    --muted: 87 28% 14%;
    --muted-foreground: 87 14% 73%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 117 2% 11%;
    --input: 117 2% 11%;
    --primary: 117 6% 32%;
    --primary-foreground: 117 6% 92%;
    --secondary: 87 6% 32%;
    --secondary-foreground: 87 6% 92%;
    --accent: 147 6% 32%;
    --accent-foreground: 147 6% 92%;
    --destructive: 12 98% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 117 6% 32%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
